.banner-wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  background-image: url('../../../images/bannerbackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-wrapper h2 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.banner-input {
  min-width: 45%;
  display: flex;
  padding: 1rem;
}

.banner-input input {
  padding: 1.5rem 5rem;
  border-radius: 3rem;
  border: none;
  width: 100%;
}

.banner-input button {
  padding: 6px 30px;
  margin-left: -35px;
}
